body {
  padding: 0;
  margin: 0;
}
#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 320px;
  bottom: 0;
}
#top-panel {
  position: absolute;
  margin: auto;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: transparent;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto','sans-serif';
}
#list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#list li {
  cursor: pointer;
}
